# Ignore everything in figures directory except PNGs and TEX files
docs/figures/*
!docs/figures/*.png
!docs/figures/*.tex

local/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Jupyter Notebook
.ipynb_checkpoints

# proprietary data
crsp/

# uv
.uv/
uv.lock

# Data files (uncomment if you have large data files)
# data/raw/*
# data/processed/*
# data/external/*
# !data/**/.gitkeep